*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.fca{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fcb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fce{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex_end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.w-screen{
    width: 100vw;
}

.h-screen{
    height: 100vh;
}

.text-center{
    text-align: center;
}